.chatWindow {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #e5ddd5;
    border-left: 1px solid #ddd;
    flex: 1;
  }
  
  .chatHeader {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    background-color: #1B92D1;
    border-bottom: 1px solid #ddd;
  }
  
  .chatHeader .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 12px;
  }
  
  .messagesContainer {
    flex: 1;
    scrollbar-width: none;
    padding: 16px;
    overflow-y: auto;
    background-color: #DFD8CB;  
    padding-bottom: 60px;
  }
  
  .message {
    max-width: 70%;
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 8px;
    position: relative;
  }
  
  .userMessage {
    background-color: #37AFE2;
    margin-left: auto;
  }
  
  .contactMessage {
    background-color: #fff;
    color: #000;
    margin-right: auto;
  }
  
  .timestamp {
    font-size: 11px;
    color: #666;
    text-align: right;
    display: block;
    margin-top: 4px;
  }

.messageInputContainer {
  padding: 10px;
  background-color: #f0f2f5;
  border-top: 1px solid #ddd;
}

.chatHeader {
  position: sticky;
  top: 0;
  z-index: 10;
}